<div id="main">
<body>
         <section>
                    <div class="row ">
                        <div class="col-md-12 bg-secondary  p-2">

                            <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
<h2 class="text-dark ml-2">Food Ordering App|Admin Login</h2>
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                    <div class="navbar-nav ml-auto">
                                        <a class="nav-item nav-link active text-white"
                                            href="/admin/logout">Logout</a>

                                    </div>
                                </div>
                            </nav>



                        </div>
                    </div>
                </section>


                <section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 ">
                <h2 class="text-center">Add Category</h2>
<form action="/admin/addCategory" method="post" enctype="multipart/form-data" >
  <div class="form-group">
    <label for="">Category Name</label>
    <input type="text" class="form-control" name="name">
    
  </div>
 
  
  

  
  <button type="submit" class="btn btn-success mt-4">Submit</button>
</form>







            </div>
        </div>
    </div>
</section> 




</body>


</div>