<div id="main">
<body>
         <section>
                    <div class="row ">
                        <div class="col-md-12 bg-secondary  p-2">

                            <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
<h2 class="text-dark ml-2">Food Ordering App|Admin Login</h2>
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                    <div class="navbar-nav ml-auto">
                                        <a class="nav-item nav-link active text-white"
                                            href="/admin/logout">Logout</a>

                                    </div>
                                </div>
                            </nav>



                        </div>
                    </div>
                </section>


                <section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 ">
                <h2 class="text-center">Add User</h2>
       
  <form class="needs-validation mt-4" action="/admin/addUser" method="post" novalidate>
  <div class="form-col">
    <div class="col-md-4 mb-3">
      
      <input type="text" class="form-control"  style="width: 20rem; border: none;
  border-bottom: 2px solid gray; border-width:2px;" id="validationCustom01" name="Fname" placeholder="First name" 
        required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    
    <div class="col-md-4 mb-3">
      
      <input type="text" class="form-control"   style="width: 20rem; border: none;
  border-bottom: 2px solid gray; border-width:2px;" id="validationCustom02"   name="Lname" placeholder="Last name" 
        required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    

    <div class="col-md-4 mb-3">
      
      <input type="text" class="form-control"  style="width: 20rem; border: none;
  border-bottom: 2px solid gray; border-width:2px;" id="validationCustom02"  name="Name"  placeholder="User name" 
        required>
      
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        name required
      </div>
    </div>
    

    <div class="col-md-4 mb-3">
      
      <input type="email" class="form-control"  style="width: 20rem; border: none;
  border-bottom: 2px solid gray; border-width:2px;" id="validationCustom02" placeholder="Email" name="Email"   
        required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        wrong email Id
      </div>
    </div>
    
    <div class="col-md-4 mb-3">
      
      <input type="text" class="form-control"  style="width: 20rem; border: none;
  border-bottom: 2px solid gray; border-width:2px;" id="validationCustom02" name="Password"    placeholder="password" 
        required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        password required!
      </div>
    </div>
    
    <div class="col-md-4 mb-3" >
      
      <input  type="tel"  style="width: 20rem; border: none;
  border-bottom: 2px solid gray; border-width:2px;" class="form-control" name="phonenumber" id="validationCustom02" placeholder="Phone Number" 
        required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        wrong number!
      </div>
    </div>
    

</div>
  


  
  
  
  <button type="submit" class="btn btn-success  btn-lg mt-1 ml-5" style="width: 13rem;border-radius: 15px;">Submit </button>
</form>





            </div>
        </div>
    </div>
</section> 




</body>


</div>