<section>
    <div class="row">
        <div class="col-md-3  bg-dark " >
            <secton>
                <div class="row">
                <div  class="p-2 pl-2 ml-2"  style="width: 5rem;height:4rem;"  >
       <img src="https://th.bing.com/th/id/OIP.TCwGAWrTlXP7H4WZ6P4FnQHaHb?w=164&h=180&c=7&o=5&pid=1.7" class="img-fluid img-responsive img-thumbnail rounded-circle p-2" alt="Responsive image">     
                </div>
                <div>
<h2 class="mt-4 ml-2"><span style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"  class="text-danger font-weight-bold ">Home</span> <span style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" class ="text-warning">Chef</span></h2>
</div>
                </div>
            </secton>
            <br>
<div class=" container bg-dark mt-4 pl-2">
            <div class="list-group  br-dark">
  <a class="list-group-item font-weight-bold text-white " href="#" style=" width:20rem;  background-color: darkviolet;border-radius: 25px;">Admin Home</a>
  <a class="list-group-item text-white  bg-dark" href="#">Vendor Management</a>
  <a class="list-group-item   text-white  bg-dark"href="#">Category Management</a>
  <a class="list-group-item   text-white bg-dark" href="#"   >Order Details</a>
  <a class="list-group-item text-white bg-dark" href="#">User Details</a>
</div>
        </div>
        </div>
        
         <div class="col-md-9  bg-light" >
             <header>
                 <div class="row">
                     <div class="col-md-12 " style="background-color:rgb(202, 198, 198);" >
                         
                         <h2 class="text-dark ml-2">Food Ordering App|Admin Login</h2>
                    
                     </div>
                 </div>
             </header>
             <section >
                 <div class="row ">
                     <div class="col-md-12 bg-light  p-2">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active text-secondary" href="/admin/logout">Logout<span class="sr-only">(current)</span></a>
     
    </div>
  </div>
</nav>


                     
                         </div>
                 </div>
                   </section>      
                         <section>
                             <div class="row  pl-2 mt-3 ">
                                  
                                 
                                     <div class="ml-4 text-white"   style="height: 8rem;width:14rem;background-color:blue">
                                         <p class="ml-3 mt-4">9</p><br>
                                         <p class="ml-2">Total Prooducts</p>
                                     </div>
                                     <div class="ml-4"      style="height: 8rem;width:14rem;background-color:crimson">
                                         <p class="ml-3 mt-4 text-white">4</p><br>
                                         <p class="ml-2 text-white">Item saled</p>
                                     </div>
                                     <div class="ml-4 text-white"  style="height: 8rem;width:14rem;background-color:darkolivegreen">
                                         <p class="ml-3 mt-4" >4</p><br>
                                         <p class="ml-2 ">Total Amount</p>
                                     </div>
                                     <div class="ml-4 text-white" style="height: 8rem;width:14rem;background-color:rgb(0, 139, 104)">
                                         <p class="ml-3 mt-4">6</p><br>
                                         <p class="ml-2">Sales Amount</p>
                                     </div>
                                     
                                    

                                 </div>
                             
                         </section>



                     <section class="mt-4">
                         
                         <div class="row mt-4 ">
                             <section>
                                 <div class="row pl-3">
                             <div style="height: 3rem;width:15rem" class="bg-danger  ml-4 mt-4">
                                 
                                         <p class="ml-2 pt-2 text-white">Sales Report   </p>
                             </div>
                             <div style="height: 3rem;width:15rem" class="bg-danger  mt-4">
                                 
                                 <button type="button" class="close text-white" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                </button>
                                 
                                 <button type="button" class="close text-white" aria-label="Close">
                <span aria-hidden="true">&minus;</span>
                    </button>
                                 
                                         
                             </div>
                             
                                 </div>

                            <div style="height: 15rem;width:30rem ; background-color:rgb(219, 214, 214);" class=" ml-4 ">
                                 <canvas id="pieChart"></canvas>
                                 
                             </div>
                             </section>
                             <section>
                            
                            <div class="row pl-3">
                             <div style="height: 3rem;width:15rem" class="bg-danger  ml-4 mt-4">
                                 
                                         <p class="ml-2 pt-2 text-white">Total Sales in this month  </p>
                             </div>
                             <div style="height: 3rem;width:15rem" class="bg-danger  mt-4">
                                  
                                 <button type="button" class="close text-white" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                    </button>
                                 
                                 <button type="button" class="close text-white" aria-label="Close">
                <span aria-hidden="true">&minus;</span>
                    </button>
                                
                                 
                                
                             </div>
                            </div>
                             <div style="height: 15rem;width:30rem;background-color:rgb(219, 214, 214);" class=" ml-4 ">
                                 <canvas id="doughnutChart"></canvas>
                             </div>
                             </section>

                         </div>
                     </section>





                     



                 

                 
             





</div>
         
    </div>
</section>

<script>
//pie
var ctxP = document.getElementById("pieChart").getContext('2d');
var myPieChart = new Chart(ctxP, {
type: 'pie',
data: {
labels: ["This month", "Next month"],
datasets: [{
data: [300, 50],
backgroundColor: ["#F7464A", "#46BFBD"],
hoverBackgroundColor: ["#FF5A5E", "#5AD3D1"]
}]
},
options: {
responsive: true
}
});



//doughnut
var ctxD = document.getElementById("doughnutChart").getContext('2d');
var myLineChart = new Chart(ctxD, {
type: 'doughnut',
data: {
labels: ["prod1", "prod2", "prod3"],
datasets: [{
data: [300, 50, 100],
backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C"],
hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870"]
}]
},
options: {
responsive: true
}
});

</script>













