<section>
    <div class="row">
        <div class="col-md-3  bg-dark " >
       <img src="https://th.bing.com/th/id/OIP.TCwGAWrTlXP7H4WZ6P4FnQHaHb?w=164&h=180&c=7&o=5&pid=1.7" class="img-fluid rounded-circle" alt="Responsive image">     

<h1 class="text-danger"> Home Chef</h1>
        </div>
         <div class="col-md-9 mh-100 bg-light" >
             <header>
                 <div class="row">
                     <div class="col-md-12 bg-secondary">
                         <h2 class="text-dark ml-2">Food Ordering App|Admin Login</h2>

                     </div>
                 </div>
             </header>
             <section>
                 <div class="row mt-4">
                     <div class="col-md-12 bg-light">
                     
                         <a class=" mr-auto  mt-4" href="/logout">Logout</a>
                         </div>
                 </div>
                   </section>      
                         <section>
                             <div class="row  pl-2 mt-4 ">
                                  
                                 
                                     <div class="ml-4 text-white"   style="height: 10rem;width:14rem;background-color:blue">
                                         <p class="ml-3 mt-4">9</p><br>
                                         <p class="ml-2">Total Prooducts</p>
                                     </div>
                                     <div class="ml-4"      style="height: 10rem;width:14rem;background-color:crimson"></div>
                                     <div class="ml-4"  style="height: 10rem;width:14rem;background-color:darkolivegreen"></div>
                                     <div class="ml-4" style="height: 10rem;width:14rem;background-color:rgb(0, 139, 104)"></div>
                                     
                                    

                                 </div>
                             
                         </section>



                     <section>
                         <div class="row">
                             <div style="height: 15rem;width:25rem" class="bg-info ml-4 mt-4">
                                 
                             </div>

                             <div style="height: 15rem;width:25rem" class="bg-red ml-4 mt-4">
                                 
                             </div>

                         </div>
                     </section>
                 
             





</div>
         
    </div>
</section>















