<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
    <script>
  function validateForm() {
  var x = document.forms["myForm"]["Name"].value;
  if (x == "") {
    alert("Name must be filled out");
    return false;
  }
}
</script>
  </head>
  <body>
    
<section>
  <div class="row ">
    <div class="col-md-1 bg-secondary  ">
      <img src="https://th.bing.com/th/id/OIP.TCwGAWrTlXP7H4WZ6P4FnQHaHb?w=164&h=180&c=7&o=5&pid=1.7" class="img-fluid rounded-circle responsive p-2" alt="Responsive image">
      
    </div>
    <div class="col-md-7  bg-light ">
<h1 class="mt-4"><span style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"  class="text-danger font-weight-bold ">Home</span> <span style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" class ="text-warning">Chef</span></h1>
     
<img src="https://media.istockphoto.com/photos/funny-happy-baker-picture-id186308619" class="img-fluid" alt="Responsive image">
    </div>


    <div class="col-md-4 pl-4 bg-white">
      <br>
      <h1 class="pt-5"><span>Login to</span>  <span style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"  class="text-danger font-weight-bold ">Home</span> 
      <span style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" class ="text-warning">Chef</span></h1>
      
<br>
      <form  name="myForm" class="mr-5 p-4 main-form" action="/admin/login" method="post" style="width: 24rem;border-radius: .35rem">
{{#if loginErr}}
      <p class="error text-danger text-bold italics">Invalid username or Password</p>
      {{/if}}
  <div class="form-group p-3" >
   
    <input type="text" name="Name"   id="Name"  class="form-control "  placeholder="Username" style="width: 20rem;border-radius: .75rem;border-width: 2px">
    
  </div>
  
  
  <div class="form-group p-3">
    
    <input type="text" name="Password" class="form-control  "  id="exampleInputPassword1"   placeholder="Password"style="width: 20rem;border-radius: .75rem;border-width: 2px">
  </div>
  
  <button type="submit" class="btn btn-success  btn-lg mt-4 ml-5" style="width: 13rem;border-radius: 15px;">Sign In </button>
</form>
      
    </div>
  </div>
</section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>



