<header>
    
        <div class="row">
            <div class="col-md-3 bg-info">
              
                <div>
                    <div class="row">
                        
                        <div class="col p-2 pl-2 ml-2" >
                            <img src="https://th.bing.com/th/id/OIP.TCwGAWrTlXP7H4WZ6P4FnQHaHb?w=164&h=180&c=7&o=5&pid=1.7"
                                class="img-fluid img-responsive img-thumbnail rounded-circle p-2"
                                alt="Responsive image">
                        </div>
                        <div class="col">
                            <h2 class="mt-4 ml-2"><span
                                    style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"
                                    class="text-danger font-weight-bold ">Home</span> <span
                                    style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"
                                    class="text-warning">Chef</span></h2>
                        </div>
                    </div>


                    <a class="nav-link text-danger text-bold mt-2 ml-3" style="font-size: 19px;"
                        href="/admin/profile">See Your profile</a>

                </div>
                <nav class="navbar navbar-expand-lg navbar-light"> 
                <button class="navbar-toggler bg-warning" type="button" data-toggle="collapse"
                                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <br>

                <div>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul>
                                    <li class="navbar-nav ">
                                        <a class="nav-item nav-link active text-white"
                                            href="/admin/home">Admin Home</a>

                                    </li>
                                    

                                    <li class="navbar-nav ">
                                        <a class="nav-item nav-link active text-white"
                                              href="/admin/vendorManagement">Vendor
                                    Management</a>

                                    </li>
                                    
                                    <li class="navbar-nav ">
                                        <a class="nav-item nav-link active text-white"
                                            href="/admin/categoryManagement">Category Mangement</a>

                                    </li>
                                    
                                    <li class="navbar-nav ">
                                        <a class="nav-item nav-link active text-white"
                                             href="/admin/orderDetails">Order Details</a>

                                    </li>
                                    

                                    <li class="navbar-nav ">
                                        <a class="nav-item nav-link active text-white"
                                           href="/admin/userDetails">User Details</a>

                                    </li>
                                    
                                    <li class="navbar-nav ">
                                        <a class="nav-item nav-link active text-dark"
                                            href="/admin/userManagement">User Management</a>

                                    </li>
                                    <li class="navbar-nav ">
                                        <a class="nav-item nav-link active text-dark"
                                            href="/admin/salesreport">Sales Report</a>

                                    </li>
                                    </ul>
                    </div>

                      

                    
                </div>
</nav> 


            </div>
            


        </div>

    
</header>