<header>
    
        <div class="row">
            <div class="col-md-3 bg-info">
                <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
                <div>
                    <div class="row">
                        <div class="p-2 pl-2 ml-2" style="width: 5rem;height:4rem;">
                            <img src="https://th.bing.com/th/id/OIP.TCwGAWrTlXP7H4WZ6P4FnQHaHb?w=164&h=180&c=7&o=5&pid=1.7"
                                class="img-fluid img-responsive img-thumbnail rounded-circle p-2"
                                alt="Responsive image">
                        </div>
                        <div>
                            <h2 class="mt-4 ml-2"><span
                                    style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"
                                    class="text-danger font-weight-bold ">Home</span> <span
                                    style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"
                                    class="text-warning">Chef</span></h2>
                        </div>
                    </div>


                    <a class="nav-link text-danger text-bold mt-2 ml-3" style="font-size: 19px;"
                        href="/admin/profile">See Your profile</a>

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                <div>
                    <nav class="navbar  mt-4">

                        <!-- Links -->
                        <ul class="navbar-nav mt-4">
                            <li class="nav-item">
                                <a class="nav-link text-white text-bold " style="font-size: 29px;"
                                    href="/admin/home">Admin Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white text-bold " style="font-size: 29px;"
                                    href="/admin/vendorManagement">Vendor
                                    Management</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white text-bold " style="font-size: 29px;"
                                    href="/admin/categoryManagement">Category Mangement</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white text-bold " style="font-size: 29px;"
                                    href="/admin/orderDetails">Order Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white text-bold " style="font-size: 29px;"
                                    href="/admin/userDetails">User Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white text-bold " style="font-size: 29px;"
                                    href="/admin/userManagement">User Management</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white text-bold " style="font-size: 29px;"
                                    href="/admin/salesreport">Sales Report</a>
                            </li>
                        </ul>

                    </nav>
                </div>
</nav>


            </div>
            <div class="col-md-9">




            </div>



        </div>

    
</header>