<header>
  <div >
    <div class="row" >
      <div class="col-md-3" style="height: 800px;width:21px;background-color:black;">
        <div>
          <div class="row">
            <div class="p-2 pl-2 ml-2" style="width: 5rem;height:4rem;">
              <img src="https://th.bing.com/th/id/OIP.TCwGAWrTlXP7H4WZ6P4FnQHaHb?w=164&h=180&c=7&o=5&pid=1.7"
                class="img-fluid img-responsive img-thumbnail rounded-circle p-2" alt="Responsive image">
            </div>
            <div>
              <h2 class="mt-4 ml-2"><span style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"
                  class="text-danger font-weight-bold ">Home</span> <span
                  style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"
                  class="text-warning">Chef</span></h2>
            </div>
          </div>
          
            
          <a class="nav-link text-danger text-bold mt-2 ml-3" style="font-size: 19px;" href="/admin/profile">See Your profile</a>
         
        </div>

        <div>
          <nav class="navbar  mt-4">

            <!-- Links -->
            <ul class="navbar-nav mt-4">
              <li class="nav-item">
                <a class="nav-link text-white text-bold " style="font-size: 29px;" href="/admin/home">Admin Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white text-bold " style="font-size: 29px;" href="/admin/vendorManagement">Vendor
                  Management</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white text-bold " style="font-size: 29px;" href="/admin/categoryManagement">Category Mangement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white text-bold " style="font-size: 29px;" href="/admin/orderDetails">Order Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white text-bold " style="font-size: 29px;" href="/admin/userDetails">User Details</a>
              </li>
               <li class="nav-item">
                <a class="nav-link text-white text-bold " style="font-size: 29px;" href="/admin/userManagement">User Management</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white text-bold " style="font-size: 29px;" href="/admin/salesreport">Sales Report</a>
              </li>
            </ul>

          </nav>
        </div>



      </div>
      <div class="col-md-9" style="height:4rem;width:100rem;background-color:rgb(101, 53, 179)>
    
        
            
                
</div>



</div>

</div>
</header>