<div > 
    <div class="row-fluid">
        <div class="span12">
            <div class="nav">
                <nav style="width: 100%; background-color:rgba(104, 85, 67, 0.747)"   class="navbar navbar-expand-lg navbar-light ">
                     <div  class="p-2 pl-2 ml-2"  style="width: 5rem;height:4rem;"  >
       <img src="https://th.bing.com/th/id/OIP.TCwGAWrTlXP7H4WZ6P4FnQHaHb?w=164&h=180&c=7&o=5&pid=1.7" class="img-fluid img-responsive img-thumbnail rounded-circle p-2" alt="Responsive image">     
                </div>
  <a class="navbar-brand" href="#"><h1 ><span style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"  class="text-danger font-weight-bold ">Home</span> <span style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" 
  class ="text-warning">Chef</span></h1></a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-auto" id="navbarNav">
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item active">
        <a class="nav-link text-warning ml-auto" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="#">Our Bakers</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-warning" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
            </div>
            <div class="bg-image" style=" position: relative;">
                <img style= " display: block;
    width: 100%;
    max-width: 1600px; 
    margin: 0 auto; "  src="https://www.bakersbaristas.com/wp-content/uploads/2019/12/fresh-muffins-collection.jpg">
                 <h1>This is centered text.</h1>
            </div>
            <div class="main">main area</div>
        </div>
    </div>
</div>