body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*     Body Styling only start     */
body{text-align: center;background-color: lightcyan;font-family: 'POPPINS', Open-Sans;background: linear-gradient(to right, #4568dc, #b06ab3);}
::selection {color: #8e44ad;}
/*     Body Styling only end     */


section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
	form{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: auto;
		margin: 0 auto;
		input{
			width: 50px;
			height: 50px;
			padding: 0;
			margin-right: 25px;
			text-align: center;
			border: 1px solid red;
			border-radius: 5px;
			&:last-child{
				margin-right: 0;
			}
			&::-webkit-inner-spin-button, 
			&::-webkit-outer-spin-button { 
				-webkit-appearance: none;
				appearance: none;
				margin: 0;
			}
			&:focus,
			&.focus{
				border-color: green;
				outline: none;
				box-shadow: none;
			}
		}
	}
}
/* Only for snippet */
.double-nav .breadcrumb-dn {
	color: #fff;
  }