<section>
    <div class="row">

        <div class="col-md-6">
            <img src="https://media.istockphoto.com/photos/funny-happy-baker-picture-id186308619"
             class="img-fluid" alt="Responsive image">

        </div>
        <div class="col-md-6">
            <h1 class="pt-2"><span>Login to</span>  <span style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"  class="text-danger font-weight-bold ">Home</span> 
      <span style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" class ="text-warning">Chef</span></h1>
          <form class="mr-5 p-4" action="/login" method="post" style="border-radius: .35rem">
      {{#if loginErr}}
      <p class="error text-danger text-bold italics">Invalid username or Password</p>
      {{/if}}
  <div class="form-group p-3" >
   
    <input type="text" name="Name"  class="form-control "  placeholder="Username" style="border-radius: .75rem;border-width: 2px">
    
  </div>
  
  
  <div class="form-group p-3">
    
    <input type="text" name="Password" class="form-control  "  id="exampleInputPassword1"   placeholder="Password"style="border-radius: .75rem;border-width: 2px">
  </div>
  
  <button type="submit" class="btn btn-success  btn-lg mt-4 ml-5" style="border-radius: 15px;">Sign In </button>
  <a  class="text-center"  href="/signup"><p class="text-center ml-2">Don't have account ?Register</a>
</form>

<p class="text-info text-center">OR</p>
<hr class=" ml-5 mr-5" style=" border-top: 1px dashed rgb(148, 141, 141);">

<a href="/mblogin"  class="btn btn-success  btn-lg mt-5 ml-5 " style="border-radius: 15px;">Login with OTP</a>

        </div>
    </div>

</section>



