<section>
    <div class="container mt-5">
        <div class="row" style="height: 30rem;background-color:rgb(6, 106, 124)">
            <div class="col-md-12">
                <br>
                <br>
                <h1 class="text-white text-center mt-4">Order Placed Successfully</h1>
                <a href="/orders" class="btn btn-primary align-items-center">View Orders</a>

            </div>
        </div>
    </div>



</section>