


    <section>
        <div class="container mt-5 ml-5">
            <div class="row">
                {{#each products}}
                <div class="col-md-3 p-3">
                    <div class="card" style="width: 14rem;">
                        <img class="card-img-top"
                            src="/product-images/{{this._id}}.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            
                            <p>{{this.price}}</p>
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
                        
                        
                        </div>
                    </div>


                </div>
                {{/each}}

                
            </div>
        </div>
    </section>
    <script>

    </script>



   
