<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/9f7b144b6d.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet"    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>



    <title>Home chef</title>
  </head>
  <body>
     {{#if admin}}
    {{>admin-header}}
    
     {{/if}}
     {{#if vendorHead}}
    {{>vendor-header}}
    {{/if}}
    {{#if user}}
    {{>user-header}}
    
     {{/if}}

    
    {{{body}}}
<!--<section>
  <div class="row">
    <div class="col-md-1 bg-secondary p-4 ">
      <img src="https://th.bing.com/th/id/OIP.TCwGAWrTlXP7H4WZ6P4FnQHaHb?w=164&h=180&c=7&o=5&pid=1.7" class="img-fluid rounded-circle" alt="Responsive image">
      
    </div>
    <div class="col-md-7 p-5 mb-2 h-100 bg-light ">

     <h1> <p class="text-danger font-weight-bold" >HOME </p><p class="text-warning">Chef</p></h1>
<img src="https://media.istockphoto.com/photos/funny-happy-baker-picture-id186308619" class="img-fluid" alt="Responsive image">
    </div>


    <div class="col-md-4 ">
      
      <h2 class="mt-5">Login to<p class="text-danger font-weight-bold" >HOME </p><p class="text-warning">Chef</p> </h2>

      <form class="mr-5 rounded-circle" action="/login" method="post">
  <div class="form-group  ">
   
    <input type="text" class="form-control mt-4"  name="Name" placeholder="Username">
    
  </div>
  <div class="form-group ">
    
    <input type="text" class="form-control mt-4 " name="Password" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-success mt-4 ml-5">Sign In me</button>
</form>
      
    </div>
  </div>
</section>-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://kit.fontawesome.com/9f7b144b6d.js" crossorigin="anonymous"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
   integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

<script src="/javascripts/script.js"></script>

  
  </body>
</html>



